body,h1,h2,h3,h4,h5{
    margin: 0;
}

.container{
    width:90%;
    margin: auto;
}

h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

header{
    background: #001B3A;
}

.section-text{
    width: 100%;
    padding: 100px 0px 0px 0px;
    text-align: center;
}

.site-header::before{
    content: '';
    position: absolute;
    top:0px;
    left:25%;
    z-index: 0;
    width:20%;
    height: 80%;
    background: #0071FF;
}

.site-header *{
    position: relative;
    z-index: 2;
}

nav, .intro-text{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-item{
    display: inline-block;
    margin-left: 30px;
}

.header-content{
    height: 93vh;
    display: flex;
    align-items: flex-end;
}

.intro-text > div {
    width:50%
}

.intro-main-heading h1{
    font-size: 5.5vw;
    letter-spacing: 2px;
    font-weight: bolder ;
}

.intro-main-heading::before{
    content:'';
    position: absolute;
    width: 20px;
    left: -70px;
    height: 100%;
    background: #0071FF;
}

.intro-main-para{
    line-height: 2;
    font-size: 1.5vw;
}

.intro-about{
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.intro-about-container{
    width: 60%;
    display: flex;
    align-items: center;
    color: white;
}

.intro-about-img{
    height: 40vh;
    width: 25vw;
}

.intro-about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.intro-about-text{
    margin-left: 50px;
}

.intro-about-text p{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.into-btn-link, .nav-link{
    color:white;
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
    font-size: 14px;
}

.into-btn-link{
    font-weight: bold;
    letter-spacing: 1px;
    border-left: 5px solid #0071FF;
    padding-left: 10px;
}

.into-btn-link:hover, .nav-link:hover{
    color: #0071FF;
}

.portfolio-card{
    width:100%;
    display: flex;
    align-items: center;
    margin: 100px auto;
}

.portfolio-card > div {
    width: 50%;
}

.portfolio-img{
    width:90%;
    max-height: 500px;
}

.portfolio{
    color: white;
    background: #001B3A;
    padding-bottom: 50px;
}

.portfolio-img img{
    object-position: top;
    width: 100%;
    height: auto;
}

.portfolio-card-txt{
    margin-left: 50px;
}

.work-btn{
    padding: 10px 20px;
    margin: 10px 30px 10px 0px;
}

.btn-div{
    margin: 25px auto auto auto;
}

.btn-website{
    background: #FF8800;
}

.btn-website:hover{
    color:white;
    background: rgb(197, 109, 7);
}

.btn-github{
    background:#0071FF;
}

.btn-github:hover{
    color:white;
    background: rgb(4, 84, 180);
}